body 
    align-items: center   
    background-color: #3A3A3A
    display flex
    margin 0px
    font-size: 14px
    justify-content: center
    min-height: 100vh
.mtop16
    margin-top: 16px
.box
    background-color: #fff
    border-radius: 8px
    color #000
    border 1px solid #3A3A3A
    position: relative
    width 500px
    .table
        .centrar
            align-items: center   
            display flex
            margin 0px
            font-size: 1.3em
            justify-content: center
        
    .box-table
        width: 700px !important
        background-color: #fff
        border-radius: 8px
        color #000
        border 1px solid #3A3A3A
        position: relative
        right: 60px
    .header
        font-family: 'Moon 2.0 Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em
        text-align:center;
        background-color #2d2d2d !important
        padding 16px
        a
            text-decoration: none
            color #fff
        h2,h3
            color #fff
    .btn-success
        background-color: #5E9512
        border 0px
        width 100%
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .inside
        padding 16px
        .input-group
            .tamañoCuadro
                height: 100px
                width 91%
    .footer
        text-align: center
        a
            display inline-block
            &:last-child
                margin-left: 3px
   
        


    
@media only screen and (max-width 728px)
    .box
        width 88%
    .box-login
        left calc(44% -250px)