.mtop16
    margin-top: 16px


body
    align-items: center   
    display flex
    margin 0px
    font-size: 14px
    justify-content: center
    .container
        margin-top: 50px
        .inside
            align-content: center
            align-items: center   
            margin-top: 50px
            border-radius: 5px solid


    